.App {
  font-family: sans-serif;
  text-align: center;
 
}
.pic_background{
  background-image: url(./components/pictures/jason-leung-UMncYEfO9-U-unsplash.jpg);
  background-size: cover; /* Dopasowanie obrazu do całej powierzchni */
  background-position: center;
  height: 100vh; 
  display: flex;
  justify-content: center; /* Centrowanie poziome */
  align-items: center; /* Centrowanie pionowe */
}
.login_container{
  background-color: rgb(4, 11, 71);
  padding: 15px;
  border-radius: 12px;
}
.title{
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:x-large;
}
.checkbox_text{
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: small;
}
.date_text{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  font-style: italic;
}
